@font-face {
 font-family: dnsfont; 
 src: url(/static/fonts/RotondaC.ttf); 
}

h1, .btn {
  font-family: dnsfont;
}

h1 {
  font-weight: 600;
  background-image: linear-gradient(to bottom, #0057A3, #4d8ada);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}