@font-face {
 font-family: dnsfont; 
 src: url(/static/fonts/RotondaC.ttf); 
}

h1, .btn {
  font-family: dnsfont;
}

h1 {
  font-weight: 600;
  
  color: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text;

}

.lead {
  color: rgb(255, 255, 255);
}

.mask {
  background-color: rgba(0, 36, 199, 0.616);  /* Black background with opacity */ 
}

.hero {
  background-image: url(/static/img/6a7d0cec41605c4.jpg);
  height: 65vh;
  
}

.icon {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}