{% extends 'layout.html' %}



{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="bg-image hero d-flex justify-content-center align-items-center">
  <div class="mask d-flex justify-content-center align-items-center h-100 w-100">


    <div class="px-3 py-3 my-3 text-center ">



      <h1 class="display-5 fw-bold">Сервисные центры - Верхняя волга</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-3">Прямая связь с операторами сервисного центра.
          Возможность задать вопрос онлайн и сразу получить качественный ответ, от квалифицированного специалиста.
          Найти информацию о сервисах производителей, нахождения
          наших сервисов, услугах, времени работы.<br>
         
        
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="js-mango btn btn-primary btn-lg px-4 gap-3">Напишите нам</button>
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Заказать звонок</button>
        </div>
      </div>
    </div>

  </div>

</div>

{%if open_chat %}
<!-- DO OPEN CHAT MANGO -->
<script>
  console.log('open chat');
  document.querySelector('.js-mango').addEventListener('click', e => {
    document.getElementById("mgo-mcw-chat-button").click();
    setTimeout(function () {
      document.getElementById("mgo-mcw-chat-button").click(),
        document.isChatOpen = !0
    }, 100)
  });
</script>
{% endif %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container p-3">
    <!-- Example row of columns -->
    <div class="row">
      {% for element in menu if element.title!='Главная' %}
      <div class="col-md-4 p-2">
        <div class="h-100 p-5 bg-light rounded-3">
          <h2> <svg class="icon icon-square bg-light text-dark flex-shrink-0 me-3">
              <use xlink:href="#{{ element.icon_svg_name }}"></use>
            </svg>{{ element.ext_title }}</h2>
          <p>{{ element.intro }}</p>
          <a class="btn btn-outline-secondary" href="
          {% if element.ref %}
            {{ element.ref }}
          {% else %}
            {{ url_for(element.handler) }}
          {% endif %}
          " role="button">{{ element.button_text }}<svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right"></use>
            </svg></a>
        </div>
      </div>
      {% endfor %}
    </div>


  </div>
  <!-- /container -->

</main>

{% endblock %}