{% extends 'layout.html' %}



{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div class="px-4 pt-2 my-3 text-center border-bottom">
  <h1 class="display-4">Сервисные центры - Верхняя волга</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Прямая связь с операторами сервисного центра. Возможность задать вопрос онлайн и сразу получить
      качественный ответ, от квалифицированного специалиста. Найти информацию о сервисах производителей, нахождения наших
      сервисов, услугах, времени работы.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="js-mango btn btn-primary btn-lg px-4 me-sm-3">Напишите нам</button>
      <!--button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button-->
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="{{ url_for('static', filename='img/service-support-hero.jpg' ) }}" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Возврат, обмен или гарантийный ремонт</h2>
        <p>Для начала процедуры возврата приобретенного у нас товара обратитесь в магазин с заявлением о возврате
          товара, товарным и/или кассовым чеком, при себе обязательно иметь документ удостоверяющий личность, а также
          предоставьте товар в полной комплектации.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Подробнее &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Наши СЦ</h2>
        <p>Режимы работы и адреса наших СЦ с картой гугла, точным расположением, описание как добраться
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Подробнее &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Поддержка</h2>
        <p>Гарантийная поддержка производителей.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Подробнее &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Установки</h2>
        <p>Информация по установкам, прайс на установки г. Казань.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Подробнее &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Статус ремонта</h2>
        <p>Вы можете самостоятельно отслеживать статус ремонта своего оборудования.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Узнать &raquo;</a>
        </p>
      </div>
    </div>

    <hr>

  </div>
  <!-- /container -->

</main>

{% endblock %}